.battery-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #555555;
}

.battery {
  display: flex;
  height: 4rem;
  padding: 0.5rem;
  text-align: center;
  border: 4px solid #ffffff;
  border-radius: 0.5rem;
}

.battery__status-bar {
  position: relative;
  height: 100%;
  width: 100%;
}

.battery__status-value {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: min-content;
  padding: 0 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  height: 100%;
  line-height: 1;
  color: #555555;
  background-color: #fff;
  border-radius: 0.25rem;
}
